@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MyFont";
    src: url("./assets/font/BadScript-Regular.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Main";
    src: url("./assets/font/AlumniSans-Variable.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}



html{
    font-family: "Main";
    scroll-behavior: smooth;
    background-image: url(./assets/image/background.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #164e63;
}
