@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MyFont";
    src: url("./assets/font/BadScript-Regular.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Main";
    src: url("./assets/font/AlumniSans-Variable.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}



html{
    font-family: "Main";
    scroll-behavior: smooth;
    background-image: url(./assets/image/background.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #164e63;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.animate-slide-in {
    animation: slideIn 0.4s ease-out;
}